# OS generated and helper files #
#################################
*.[oa]
*.so
*.dll
*.exe
*~
\#*\#
.keepme

# GNU Gama source codes are located at the subdirectory lib/gama #
##################################################################
lib/gama
