# OS generated and helper files
###############################
*.exe
*~
\#*\#
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# gama-q2
#########
moc_*
qrc_gama*
ui_*.h
*.pro.user
*.pro.user.*
*-build-*
Makefile

# GNU Gama source codes located at the subdirectory lib/gama
############################################################
lib/gama
