# OS generated and helper files
###############################
*.exe
*~
\#*\#
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.autosave
QuickStart.html

# gama-q2
#########
moc_*
qrc_gama*
ui_*.h
*.pro.user
*.pro.user.*
*.txt.user
*.txt.user.*
*-build-*
build*
Makefile
dox
*.bak

.idea

build-gama-*

# GNU Gama source codes located at the subdirectory gama
########################################################
gama
